<footer class="footer bg-transparent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 font-size-11 text-secondary d-flex justify-content-center">
                <span class="text-uppercase">© <script>document.write(new Date().getFullYear())</script> As du numérique</span>
                <ul class="m-0 list-inline">
                    <li class="list-inline-item ms-3 me-0 ps-3 border-start border-secondary">
                        <a href="#" class="text-decoration-underline text-secondary">Déclaration de confidentialité</a>
                    </li>
                    <li class="list-inline-item ms-3 me-0 ps-3 border-start border-secondary">
                        <a href="#" class="text-decoration-underline text-secondary">Conditions générales d'utilisation</a>
                    </li>
                    <li class="list-inline-item ms-3 me-0 ps-3 border-start border-secondary">
                        <a href="#" class="text-decoration-underline text-secondary">Mentions légales</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>