<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="as-du-numerique.html" class="waves-effect">
                        <i class="icon-dashboard"></i>
                        <span key="t-dashboards">Tableau de bord</span>
                    </a>
                </li>
                <li>
                    <a href="calendar.html" class="waves-effect">
                        <i class="icon-demandes"></i>
                        <span key="t-dashboards">Demande à traiter</span>
                        <span class="badge rounded-pill bg-as">2</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon-proposition"></i>
                        <span key="t-layouts">Mes propositions</span>
                    </a>
                    <ul class="sub-menu mm-collapse mm-show" aria-expanded="true">
                        <li><a href="layouts-light-sidebar.html" key="t-light-sidebar">Propositions en cours<span class="badge rounded-pill bg-as">5</span></a></li>
                        <li><a href="layouts-compact-sidebar.html" key="t-compact-sidebar">Historique des propositions</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon-interventions"></i>
                        <span key="t-layouts">Mes interventions</span>
                    </a>
                    <ul class="sub-menu mm-collapse mm-show" aria-expanded="true">
                        <li><a href="layouts-light-sidebar.html" key="t-light-sidebar">Interventions à venir<span class="badge rounded-pill bg-as">5</span></a></li>
                        <li><a href="layouts-compact-sidebar.html" key="t-compact-sidebar">Historique des interventions</a></li>
                    </ul>
                </li>

            </ul>
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="border-bottom border-gray">
                    <a href="as-du-numerique2.html" class="waves-effect">
                        <i class="icon-contact"></i>
                        <span key="t-dashboards">Nous ocntacter</span>
                    </a>
                </li>
                <li>
                    <a href="as-du-numerique2.html" class="waves-effect">
                        <i class="icon-deconnexion"></i>
                        <span key="t-dashboards">Déconnexion</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->